p, form, text{
    font: 10px 'Open Sans';
    font-weight: 300;
	color: #FFF;
	text-shadow: none;
	letter-spacing: 0.1em;
}

.hidden{
    display: none;
}
#barX, #barY{stroke: #FFF;}
svg{
	padding-left: 10px;
	padding-top: 6px;
}
